<!-- index.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio - Registro de Eventos</title>
</head>
<body>
    <h1>Bienvenido al Registro de Eventos</h1>
    <nav>
        <ul>
            <li><a href="/eventos">Ver Eventos</a></li>
            <li><a href="/participantes">Ver Participantes</a></li>
            <li><a href="/agregar_evento">Agregar Evento</a></li>
            <li><a href="/agregar_participante">Agregar Participante</a></li>
            <li><a href="#" onclick="pedirContrasena('modificar_participantes')">Modificar/Eliminar Participantes</a></li>
            <li><a href="#" onclick="pedirContrasena('modificar_eventos')">Modificar/Eliminar Eventos</a></li>
        </ul>
    </nav>

    <script>
        function pedirContrasena(accion) {
            var contrasena = prompt("Por favor, introduce la contraseña:");
            if (contrasena === "1234") {
                window.location.href = '/' + accion;
            } else {
                alert("Contraseña incorrecta.");
            }
        }
    </script>
</body>
</html>
