<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Yinka Enoch Adedokun">
	<meta name="description" content="Simple Forgot Password Page Using HTML and CSS">
	<meta name="keywords" content="forgot password page, basic html and css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='forgot_account.css') }}">
	<title>Forgot Password Page - HTML + CSS</title>
</head>
<body>
	<div class="row">
		<h1>Olvidaste tu contraseña?</h1>
		<h6 class="information-text">Introduzca su correo electronico o numero de telefono para recuperar su cuenta</h6>
		<div class="form-group">
			<input type="email" name="user_email" id="user_email">
			<p><label for="username">Email</label></p>
			<button onclick="showSpinner()">Cambiar contraseña</button>
		</div>
        <div class="footer">
            <h5>Eres nuevo por aquí? <a href="{{ url_for('index', _anchor='registro') }}">Regístrate.</a></h5>
            <h5>Ya tienes una cuenta? <a href="{{ url_for('index', _anchor='login') }}">Inicia sesión</a></h5>
        </div>
	</div>
</body>