<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='python.ico') }}">
    <meta charset="UTF-8">
    <title>Página de Registro e Inicio de Sesión</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
    <div class="login-page">
        <div class="form">
            <form class="register-form" style="display:none;" id="register-form">
                <input type="text" id="name" placeholder="Nombre de Usuario" required/>
                <input type="password" id="password" placeholder="Contraseña" required/>
                <button type="button" id="create_account_btn">Crear</button>
                <button type="button" id="generate_password_btn">Generar Contraseña Segura</button>
                <p class="message">¿Ya estas registrado? <a href="#" onclick="showLoginForm()">Sign In</a></p>
            </form>
            <form class="login-form" id="login-form">
                <input type="text" name="username" placeholder="Nombre de Usuario" required/>
                <input type="password" name="password" placeholder="Contraseña" required/>
                <button type="submit">iniciar</button>
                <p class="message">¿No estas registrado?<a href="#" onclick="showRegisterForm()">Create tu cuenta</a></p>
            </form>
        </div>
    </div>
    <script>
function showNotification(message, type) {
    Swal.fire({
        icon: type,
        title: type === 'error' ? 'Error' : 'Success',
        text: message,
        timer: 3000
    });
}

function showRegisterForm() {
    $('.login-form').hide();
    $('.register-form').show();
}

function showLoginForm() {
    $('.register-form').hide();
    $('.login-form').show();
}

$('#generate_password_btn').click(function() {
    $.post('/generate-password', function(data) {
        var passwordField = $('#password');
        passwordField.val(data.password);
        passwordField.attr('type', 'text');
        setTimeout(function() {
            passwordField.attr('type', 'password');
        }, 5000);
        showNotification('Contraseña generada con éxito', 'success');
    });
});

$('#create_account_btn').click(function() {
    var name = $('#name').val();
    var password = $('#password').val();
    $.post('/register', {name: name, password: password}, function(data) {
        if(data.message) {
            showNotification(data.message, 'success');
            showLoginForm();
        } else if(data.error) {
            showNotification(data.error, 'error');
        }
    }).fail(function(jqXHR) {
        var errorResponse = JSON.parse(jqXHR.responseText);
        showNotification(errorResponse.error, 'error');
    });
});

$('#login-form').submit(function(event) {
    event.preventDefault();
    var username = $('input[name="username"]').val();
    var password = $('input[name="password"]').val();
    $.ajax({
        url: '/login',
        type: 'POST',
        data: {username: username, password: password},
        dataType: 'json',
        success: function(data) {
            if(data.message) {
                showNotification(data.message, 'success');
            } else if(data.error) {
                showNotification(data.error, 'error');
            }
        },
        error: function(xhr, status, error) {
            showNotification('Error al procesar la solicitud: ' + error, 'error');
        }
    });
});
    </script>
</body>
</html>
  