body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  input[type=submit] {
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #4cae4c;
  }
  .resultado {
    margin-top: 20px;
  }
  .contenedor-resultados {
    width: 300px;
    margin-top: 20px;
    position: absolute;
    bottom: 180px;
    text-align: center;
    background-color: #5cb85c;
    border-radius: 30px;
     }